# macOS
.DS_Store

# virtual env
.venv/

# data (keep folder structure, ignore contents)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
